$gold: #c8b984;
html { background: #fff; }
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 16px;
  background: #083a68;
  padding: 23px 15px;
  box-sizing: border-box;
  color: #fff;
  width: 800px;
  text-align: center;
  font-weight: 400;
}
h1 {
  font-size: 1.4rem;
  font-weight: 300;
  color: $gold;
}
p {
  color: $gold;
  em {
    color: #f8533e;
    font-style: normal;
  }
}
nav { 
  font-size: 0; 
}
hr {
  border: none;
  font-size: 70px;
  height: 74px;
  display: inline-block;
  width: 53px;
  margin: 0 6px 0px 0;
  cursor: pointer;
  background-repeat: no-repeat;
  outline: none;
  background-size: 100% 100%;
  position: relative;
}
fieldset {
  display: inline-block;
  width: 87px;
  height: 125px;
  line-height: 125px;
  vertical-align: middle;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 50px 0;
  &#de:before {
    content: '';
    position: absolute;
    background: inline-image("drag.png") no-repeat;
    left: 100%;
    margin-left: 30px;
    width: 88px;
    height: 80px;
    opacity: 1;
  }
  &#de.hascard:before, 
  &.hascard ~ #de:before {
    transition: opacity 1s;
    opacity: 0;
  }
}
fieldset.hascard {
  box-shadow: 0 0 13px 3px rgba(255,84,61,.75);
}
fieldset hr {
  width: 89px;
  height: 125px;
  margin: 0;
  display: none;
}
@keyframes flyout {
  0% { transform: rotate(0), scale(1,1);}
  8% { transform: scale(1.2,1.2), rotate(0); }
  10% { top: -40px; left: 10px; }
  80% { opacity: 1; }
  100% { opacity: 0; transform: rotate(500deg); top: 0; left: -250px;}
}
.clear {
  background: inline-image("clear.png");
  width: 120px;
  height: 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 620px;
  top: 300px;
  opacity: 0;
  visibility: hidden;
  outline: none;
}
.hascard + .hascard + .hascard ~ .clear {
  transition: opacity 1s;
  opacity: 1;
  visibility: visible;
}
hr.clear {
  position: absolute;
  animation-name: flyout;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  display: block;
}
hr.clear:nth-of-type(1) {
  animation-delay: .2s;
}

hr.clear:nth-of-type(2) {
  animation-delay: .3s;
}
hr.clear:nth-of-type(3) {
  animation-delay: .4s;
}
fieldset hr:first-child {
  display: block;
}
fieldset i {
  padding: 0 10px;
  line-height: 1em;
  font-style: normal;
  display: inline-block;
}
fieldset hr ~ i {
  display: none;
}
fieldset hr.clear ~ i {
  display: inline-block;
}
fieldset:nth-of-type(2) {
  margin-left: 8px;
  margin-right: 8px;
}
legend {
  width: 100%;
  line-height: 1rem;
  position: absolute;
  opacity: 0;
  color: #fff;
  text-align: center;
  bottom: 0px;
}
.hascard legend {
  bottom: -30px;
  opacity: 1;
  transition: opacity 1s, bottom .5s;
}
#dothis {
  background: #191919;
  background: linear-gradient(to right, #083a68 0,#02274a 50% ,#083a68 100% );
  width: 548px;
  height: 61px;
  line-height: 61px;
  font-weight: 300;
  font-size: 1.7rem;
  margin: 0 auto 20px;
}
#dothis span {
  color: #ff543d;
}
footer a {
  color: $gold;
}
.cardA { background-image:  inline-image("cards/AC.svg"); }
.card2 { background-image:  inline-image("cards/2C.svg"); }
.card3 { background-image:  inline-image("cards/3C.svg"); }
.card4 { background-image:  inline-image("cards/4C.svg"); }
.card5 { background-image:  inline-image("cards/5C.svg"); }
.card6 { background-image:  inline-image("cards/6C.svg"); }
.card7 { background-image:  inline-image("cards/7C.svg"); }
.card8 { background-image:  inline-image("cards/8C.svg"); }
.card9 { background-image:  inline-image("cards/9C.svg"); }
.cardJ { background-image:  inline-image("cards/JC.svg"); }
.cardQ { background-image:  inline-image("cards/QC.svg"); }
.cardK { background-image:  inline-image("cards/KC.svg"); }
.card10 { background-image: inline-image("cards/10C.svg"); }
